.button {
  background-color: ghostwhite;
  border-radius: 7px;
  border-width: 0px;
  border-style: solid;
  height: 45px;
  width: 130px;
  color: #b5b9ff;
  font-weight: bold;
  font-size: 15px;
}
